<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itheima.mobliesafe"
    android:versionCode="1"
    android:versionName="1.0" >

    <!--
     package :应用在系统中的唯一标示
	versionCode : 版本号
	versionName : 版本号的名称
    -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name="com.itheima.mobliesafe.MoblieSafeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.itheima.mobliesafe.SpalshActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".SettingActivity" />
		<activity android:name=".LostfindActivity" />
		<activity android:name=".SetUp1Activity" />
		<activity android:name=".SetUp2Activity" />
		<activity android:name=".SetUp3Activity" />
		<activity android:name=".SetUp4Activity" />
		<activity android:name=".SetUpBaseActivity" />
		<activity android:name=".ContactActivity" />
		<receiver android:name="com.itheima.mobliesafe.receiver.BootCompleteReceiver">
			<!-- priority : 广播接受者的优先级,值越大优先级越高,越先接收到广播 -->
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>		    
		</receiver>
		
		<!-- 要想实现拦截操作,优先级必须大于0,小于0是系统先接受到短信,大于0是我们先接受到短信 -->
        <receiver android:name="com.itheima.mobliesafe.receiver.SmsReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>